* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    z-index: 5;
    height: 200px;
    width: 535px;
    background-color: white;
    outline:none;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 3px #00000069;
}